@mixin fontSize($fs) {
  font-size: #{calc($fs / 10.24)}vw;
  font-size: clamp(12px, #{calc($fs / 10.24)}vw, #{$fs * 1.25}px);
}

@mixin abs($dir) {
  position: absolute;

  @if $dir==cer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @else if $dir==x {
    left: 50%;
    transform: translateX(-50%);
  }

  @else if $dir==y {
    top: 50%;
    transform: translateY(-50%);
  }

  @else if $dir==full {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

@mixin flex($dir) {
  display: flex;

  @if $dir==x {
    align-items: center;
  }

  @else if $dir==y {
    flex-direction: column;
  }

  @else if $dir==cer {
    align-items: center;
    justify-content: center;
  }

  @else if $dir==wrap {
    align-items: center;
    flex-wrap: wrap;
  }
}

@mixin size($width, $height, $min: 0.8, $max: 1.25) {
  width: $width;
  min-width: calc($width * $min);
  max-width: calc(($width * $max));

  height: $height;
  min-height: calc($height * $min);
  max-height: calc($height * $max);
}

@mixin circle($size, $bg: #fff) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $bg;
}