$theme-color: linear-gradient(#3C239F 0%, #793572 100%);
$theme-color-right: linear-gradient(to right, #372A87 1.53%, #9B4D9C 96.48%);

@mixin fontSize($fs) {
  font-size: #{calc($fs / 10.24)}vw;
}

@mixin abs($dir) {
  position: absolute;

  @if $dir==cer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @else if $dir==x {
    left: 50%;
    transform: translateX(-50%);
  }

  @else if $dir==y {
    top: 50%;
    transform: translateY(-50%);
  }

  @else if $dir==full {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

@mixin flex($dir) {
  display: flex;

  @if $dir==x {
    align-items: center;
  }

  @else if $dir==y {
    flex-direction: column;
  }

  @else if $dir==cer {
    align-items: center;
    justify-content: center;
  }

  @else if $dir==wrap {
    align-items: center;
    flex-wrap: wrap;
  }
}

@mixin circle($size, $bg: #fff) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $bg;
}